
body{
    background: #222;
}

#canvasDiv{
    margin: 0 auto;
}
canvas{
    margin: 20px;
    background: #111;
    border-radius: 5px;
    border: 1px solid #007ded;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: block;
}
button{
    width: 100%;
    max-width: 100px;
    background: #334;
    margin: 0 auto;
    border: 1px solid #007ded;
    color: #007ded;
    border-radius: 5px;
}
p{
    color: #007ded;
    font-family: sans-serif;
    margin: 0 auto;
    text-align: center;
}